ul.menu {
    list-style-type: none;
    background-color: blue;
    overflow: hidden;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

ul.menu li a{
    float: left;
    font-family: Arial;
    font-weight: bold;
    font-size: 12px;
}
ul.menu li home{
    float: right;
}

ul.menu li a{
    display: block;
    width: 2cm;
    height: 0.7cm;
    padding-top: 10px;
    padding-left: 20px;
    color:white;
    text-decoration:none;
}

div.main {
    margin-top: 1cm; /* To seperate from nav bar */
    height: 95vh;
    position: fixed;
    background-image: url('tetris.png');
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: center center;
    background-size: 95% 100%;
}